#books-div {
	border: 1px solid rgb(219, 222, 228);
	padding: 10px;
	background: white;
	display: inline-flex;
	width: 100%;
	box-sizing: border-box;
	height: 100%;
}

#books-image-div {
	float: left;
    margin: 0px 10px 0 0;
}

#books-properties-div div {
	margin-right: 20px;
	margin-bottom: 12px;
	display: inline-block;
}

@media only screen and (max-width: 800px) {
	#books-div {
		display: block;
	}
	#books-image-div {
		float: none;
		text-align: center; 
	}
}