.content-info {
    font-size: 10pt;
}

.content-info div, #content-info-tags {
    margin-bottom: 12px;
}

@media only screen and (max-width: 1010px) {
    .content-info div {
        display: inline-block;
        margin-left: 12px;
    }

    .content-info div:first-child {
        margin-left: 0;
    }
}

#content-info-tags {
    font-size: 10pt;
    line-height: 15pt;
}

#content-info-tags div {
    display: inline-block;
    margin-right: 10px;
}

#content-info-tags a {
    text-decoration: none;
}

#content-info-tags a:hover {
    text-decoration: underline;
}

.not-publicated-info {
    border: 1px #70afe9 solid;
    padding: 6px 5px 0 5px;
    height: 27px;
    text-align: center;
    background-color: #d5ebff;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 0px !important;
    display: block !important;
}

.not-publicated-info img {
    margin-right: 10px;
    margin-bottom: -3px;
}

#content-tags-div * {
    margin-right: 10px;
    margin-bottom: 10px;
}