/* Menu */
#menu {
    padding: 0 0 2px 0;
}

@media only screen and (min-width: 1010px) {
    #menu {
        width: 990px;
    }
}

#menu-wrapper {
    background-color: #333436;
    border-top: 1px solid #505154;
    border-bottom: 1px solid #424246;
    border-radius: 4px;
    box-shadow: 0 0px 10px 0px black;
}

@media only screen and (max-width: 1010px) {
    #menu-wrapper {
        border-radius: 0px;
    }
}

#menu-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px 1px 10px;
}

#menu-wrapper a, #menu-wrapper .inline-button {
    color: #d1d3d6;
    text-shadow: rgba(0, 0, 0, 0.9) 0 1px 0;
    text-decoration: none;
    font: 400 14px/1.55 Helvetica, Arial, "lucida grande", tahoma, verdana,
    arial, sans-serif;
    cursor: pointer;
}

.inline-button {
    cursor: pointer;
}

.inline-button:hover {
    text-decoration: underline;
}

#menu-wrapper a:hover, #menu-wrapper .inline-button:hover {
    text-decoration: none;
    color: white;
}

#menu-wrapper > div {
    gap: 8px;
    display: flex;
}

/* Quotes */
#quotes {
    width: 790px;
    height: 16px;
    text-align: center;
    margin-left: auto;
    display: inline-block;
}

#quotes-menu-item {
    display: none;
}

@media only screen and (max-width: 1010px) {
    #quotes {
        display: none;
    }

    #quotes-menu-item {
        display: inline-block;
    }
}

#quotes a, #quotes a:hover {
    font-family: Tahoma, sans-serif;
    font-size: 9pt;
    color: white;
}

#quotes a {
    text-decoration: none;
}

#quotes a:hover {
    text-decoration: underline;
}
