#hw-tags-div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 5px;
}

#hw-tags-div div {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0px 5px;
    background: #fdfdfd;
}

#hw-description-div {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow-y: auto;
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 10pt;
    tab-size: 4;
    background: #fefefe;
}

.hw-photos-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 45px;
}

.hw-photos-div-item {
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    font-family: var(--aura-font-family);
    font-size: 12px;
}

.hw-photos-div-item div {
    display: flex;
    justify-content: center;
    gap: 10px;
}