#image-slideshow-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(0 0% 0%/ 0.8);
    z-index: 999;
}

#image-slideshow-item-label-div {
    padding: 5px 0;
    text-align: center;
    color: lightgray;
    background: hsl(0 0% 0%/ 0.5);
    top: 0;
    width: 100%;
    font-size: 15px;
    height: 30px;
    box-sizing: border-box;
}

#image-slideshow-item-wrapper-div {
    height: calc(100% - 60px);
}

#image-slideshow-item-div {
    text-align: center;
    top: 50%;
    position: relative;
    --n: 1;
    align-items: center;
    overflow-y: hidden;
    width: 100%;
    transform: translate(calc(var(--i, 0) / var(--n) * -100%)) translateY(-50%);
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

#image-slideshow-item-div * {
    max-width: 100%;
    max-height: 100%;
    max-height: -webkit-fill-available;
    text-align: center;
    margin: auto;
}

#image-slideshow-item-div video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

#image-slideshow-item-close-div {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: hsl(0 0% 0%/ 0.5);
    color: lightgray;
    padding: 4px 0 0px 0;
    box-sizing: border-box;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#image-slideshow-item-close-div vaadin-button {
    color: lightgray;
    font-weight: normal;
    font-size: 15px;
    margin-left: 10px;
}

#image-slideshow-item-prev-div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
}

#image-slideshow-item-next-div {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
}

div#image-slideshow-prev-item-button, div#image-slideshow-next-item-button {
    position: fixed;
    top: 50%;
    height: 50px;
    width: 50px;
    background: #878787;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: monospace;
    cursor: pointer;
}

div#image-slideshow-prev-item-button:hover, div#image-slideshow-next-item-button:hover {
    background: #a5a5a5;
}

div#image-slideshow-prev-item-button {
    left: 0%;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

div#image-slideshow-next-item-button {
    right: 0%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

#image-slideshow-item-close-div .inline-button {
    color: white;
}