#center-content h2, #right-content h2 {
    margin-top: 8px;
    margin-bottom: 5px;
}

#center-content h2:first-child, #right-content h2:first-child {
    margin-top: 0px;
}

#main-div {
    position: relative;
    min-height: 100vh;
}

#holder {
    background-position: bottom right;
    padding-bottom: 3rem;
}

#top-holder {
    position: relative;
    background: url(/img/headPattern.png);
    background-repeat: repeat-x;
}

#top {
    max-width: 990px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
    margin-top: 0;
}

#logo-line {
    padding: 25px 0px 0px 0px;
    height: 48px;
}

@media only screen and (max-width: 1010px) {
    #logo-line {
        padding-left: 15px;
        padding-right: 15px;
    }
}

#homelink {
    display: inline-block;
    position: relative;
    top: 7px;
}

#top > h1 {
    display: none;
}

#content {
    margin-left: auto;
    margin-right: auto;
    max-width: 990px;
}

#center {
    width: 990px;
}

#center-content, #left-content, #right-content {
    border: 1px solid #b3b3b3;
}

#bottom {
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #b3b3b3;
}

#center-content, #left-content, #right-content {
    background-color: #f4f1e6;
    border-radius: 4px;
    padding: 15px;
    box-sizing: border-box;
}

@media only screen and (max-width: 1010px) {
    #center-content, #left-content, #right-content {
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
}

@media only screen and (min-width: 1010px) {
    #left-content {
        position: sticky;
        position: -webkit-sticky;
        top: 15px;
    }
}

#left-content {
    width: 220px;
    display: inline-block;
    vertical-align: top;
}

@media only screen and (max-width: 1010px) {
    #left-content {
        width: 100%;
        margin-bottom: 14px;
    }
}

#right-content {
    display: inline-block;
    width: 100%;
}

@media only screen and (min-width: 1010px) {
    #right-content {
        width: 755px;
        margin-left: 14px;
    }
}

#bottom-holder {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#bottom {
    clear: both;
    background-color: #c2dfef;
    padding: 5px;
    font-size: 12px;
    font-family: Verdana, "Verdana CE", Arial, "Arial CE",
    "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    text-align: center;
    color: #555555;
}

#bottom-shadow, #bottom {
    overflow: hidden;
    width: auto;
}

#bottom-shadow {
    height: 11px;
}