html, body {
    margin: 0;
    padding: 0;
    /* 	height: 100%; */
    width: 100%;
    /* 	width: 100vw; */
    background-color: #d8cda6;
}

vaadin-button {
    cursor: pointer;
}

vaadin-button[theme~="tertiary-inline"] {
    border: none;
    font-weight: normal;
}

vaadin-button[theme~="tertiary-inline"]::part(label):hover {
    text-decoration: underline;
}

vaadin-dialog-overlay::part(header) {
    padding: 0;
    margin: 15px 10px 5px 10px;
}

vaadin-dialog-overlay::part(footer) {
    padding: var(--lumo-space-m);
}

vaadin-tab img {
    margin: 0px 5px 1px 0;
}

vaadin-progress-bar {
    margin-bottom: 2px;
    display: inline-block;
    width: 100% !important;
}

vaadin-text-area textarea {
    border: none;
    font-weight: 400;
}

vaadin-text-area::part(input-field) {
    background-color: #fff;
    border: 1px solid #ddd;
}

a {
    white-space: nowrap !important;
}

.button-link {
    font-family: var(--lumo-font-family);
    font-size: var(--lumo-font-size-m);
    font-weight: 500;
    border: none;
}

.scroll-div {
    overflow-y: auto;
    height: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

img.thumbnail-200 {
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.grass-table tr td {
    padding-left: 15px;
}

.grass-table tr td:FIRST-CHILD {
    padding-left: 0px;
}

.grid-icon-img {
    margin-top: 3px;
}

/* Nadpisy */
h2, h3 {
    border-bottom: 1px solid;
    border-color: #888;
    font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
    "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-weight: normal;
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
}

h2 {
    font-size: 15pt;
}

vaadin-dialog::part(title) {
    font-size: 15pt;
}

vaadin-dialog::part(header) {
    padding-bottom: 0;
}

h3 {
    font-size: 11pt;
}

/* Span */
span.label-ok, span.label-err {
    border-radius: 5px;
    margin: auto;
    padding: 3px 10px;
}

span.label-ok {
    border: 2px solid #42af0b;
    background-color: rgba(66, 175, 11, 0.25);
}

span.label-err {
    border: 2px solid #af130b;
    background-color: rgba(175, 11, 11, 0.25);
}

.error-label {
    text-align: center;
}

/* Button div  */
.button-div vaadin-button, .button-div vaadin-combo-box {
    margin: var(--lumo-space-m) var(--lumo-space-m) 0 0;
}

/* Top and Bottom margin */
.top-margin {
    margin-top: var(--lumo-space-m);
}

.bottom-margin {
    margin-bottom: var(--lumo-space-m);
}

/* Top clean and Top pull*/
.top-clean {
    margin-top: 0;
    padding-top: 0;
}

.top-pull {
    margin-top: calc(-1 * var(--lumo-space-m));
    padding-top: 0;
}

/* Tag layout */
.tag-letter {
    font-weight: bold;
    margin: 4px 0px;
}

.tag-labels {
    padding: 0 0 0 15px;
}

/* Breadcrumb */
#breadcrumb {
    background: #fdfaf2;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 3px;
    line-height: 20px;
    font-weight: bold;
    font-size: 12px;
    font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
    "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

#breadcrumb img, #breadcrumb a {
    margin-right: 10px;
}

/* Content detail */
.content-info {
    font-size: 10pt;
}

.content-info div, #content-info-tags {
    margin-bottom: 12px;
}

@media only screen and (max-width: 1010px) {
    .content-info div {
        display: inline-block;
        margin-left: 12px;
    }

    .content-info div:first-child {
        margin-left: 0;
    }
}

#content-info-tags {
    font-size: 10pt;
    line-height: 15pt;
}

#content-info-tags div {
    display: inline-block;
    margin-right: 10px;
}

.not-publicated-info {
    border: 1px #70afe9 solid;
    padding: 6px 5px 0 5px;
    height: 25px;
    text-align: center;
    background-color: #d5ebff;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 0px !important;
    display: block !important;
}

.not-publicated-info img {
    margin-right: 10px;
    margin-bottom: -3px;
}

vaadin-date-picker::part(input-field), vaadin-time-picker::part(input-field), vaadin-combo-box::part(input-field) {
    background-color: #fff;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
}

vaadin-text-field::part(input-field), vaadin-text-area textarea {
    font-weight: 500;
}

#content-tags-div * {
    margin-right: 10px;
    margin-bottom: 10px;
}

#pg-exif-div {
    color: lightgray;
    position: fixed;
    bottom: 30px;
    padding: 10px;
}

#pg-exif-div div div:first-child {
    font-weight: 500;
    margin-top: 10px;
}

#pg-exif-div a {
    color: lightgrey;
    text-decoration: underline;
}

#pg-exif-div a:hover {
    color: white;
}

vaadin-checkbox::part(label) {
    font-size: var(--vaadin-input-field-label-font-size, var(--lumo-font-size-s));
}

vaadin-checkbox::part(checkbox) {
    margin-left: 0;
}