#pg-exif-div {
    color: lightgray;
    position: fixed;
    bottom: 30px;
    padding: 10px;
}

#pg-exif-div div div:first-child {
    font-weight: 500;
    margin-top: 10px;
}

#pg-exif-div a {
    color: lightgrey;
    text-decoration: underline;
}

#pg-exif-div a:hover {
    color: white;
}

#pg-slideshow-div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsl(0 0% 0%/ 0.8);
}

#pg-slideshow-item-label-div {
    padding: 5px 0;
    text-align: center;
    color: lightgray;
    background: hsl(0 0% 0%/ 0.5);
    top: 0;
    width: 100%;
    font-size: 15px;
    height: 30px;
    box-sizing: border-box;
}

#pg-slideshow-item-wrapper-div {
    height: calc(100% - 60px);
}

#pg-slideshow-item-div {
    text-align: center;
    top: 50%;
    position: relative;
    --n: 1;
    align-items: center;
    overflow-y: hidden;
    width: 100%;
    transform: translate(calc(var(--i, 0) / var(--n) * -100%)) translateY(-50%);
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}

#pg-slideshow-item-div * {
    max-width: 100%;
    max-height: 100%;
    max-height: -webkit-fill-available;
    text-align: center;
    margin: auto;
}

#pg-slideshow-item-div video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

#pg-slideshow-item-close-div {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: hsl(0 0% 0%/ 0.5);
    color: lightgray;
    padding: 4px 0 0px 0;
    box-sizing: border-box;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#pg-slideshow-item-close-div vaadin-button {
    color: lightgray;
    font-weight: normal;
    font-size: 15px;
    margin-left: 10px;
}

#pg-slideshow-item-prev-div {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 50px;
}

#pg-slideshow-item-next-div {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
}

.pg-thumb-button-div {
    display: flex;
    justify-content: center;
    gap: 10px;
}