#pg-exif-div {
    color: lightgray;
    position: fixed;
    bottom: 30px;
    padding: 10px;
}

#pg-exif-div div div:first-child {
    font-weight: 500;
    margin-top: 10px;
}

#pg-exif-div a {
    color: lightgrey;
    text-decoration: underline;
}

#pg-exif-div a:hover {
    color: white;
}

.pg-thumb-button-div {
    display: flex;
    justify-content: center;
    gap: 10px;
}