@import "header.css";
@import "layout.css";
@import "content.css";
@import "tag-menu.css";
@import "image-slideshow.css";
/* moduly */
@import "pg.css";
@import "hw.css";
@import "books.css";
@import "drinks.css";
@import "monitor.css";
@import "recipes.css";

/* https://vaadin.com/docs/latest/styling/themes/aura/other */
/* https://vaadin.com/docs/latest/styling/themes/base */

html {
    --aura-app-background: #d8cda6;
    --vaadin-radius-m: 5px;
    --vaadin-grid-border-radius: 5px;
    --vaadin-grid-background: #f9f9f9;
    --vaadin-grid-border-color: #ddd;
    --vaadin-button-background: #fdfaf2;
    --vaadin-tabs-border-radius: 5px;
}

.tab-text-area {
    font-family: monospace;
    tab-size: 4;
    font-size: 12px;
}

.hw-hover-icon {
    position: fixed;
    background: white;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    z-index: 999;
    margin: 0;
}

vaadin-combo-box[readonly]:focus-within::part(input-field),
vaadin-date-picker[readonly]:focus-within::part(input-field),
vaadin-time-picker[readonly]:focus-within::part(input-field),
vaadin-text-field[readonly]:focus-within::part(input-field),
vaadin-text-area[readonly]:focus-within::part(input-field) {
    outline: none;
    --vaadin-input-field-border-color: unset;
}

vaadin-combo-box[readonly][has-link]::part(input-field),
vaadin-text-field[readonly][has-link]::part(input-field) {
    color: #045491;
    text-decoration: none;
    cursor: pointer;
}

vaadin-combo-box[readonly][has-link]:hover::part(input-field),
vaadin-text-field[readonly][has-link]:hover::part(input-field) {
    text-decoration: underline;
}

vaadin-dialog::part(header) {
    padding-bottom: 10px;
}

vaadin-progress-bar::part(bar) {
    border: 1px solid lightgrey;
    box-sizing: content-box;
}

vaadin-grid-cell-content a:hover {
    cursor: pointer;
}

vaadin-text-area::part(label) {
    font-size: 14px;
    font-family: var(--aura-font-family);
}

/* Pokud je v dialogu, může být při focusu oříznut horní okraj */
vaadin-text-field {
    padding-top: 1px;
}

vaadin-dialog::part(overlay) {
    --aura-surface-opacity: 1 !important;
}

/* vaadin AURA theme fix -- z nějakého důvodu dělá 2px vertical scroll na dialogu */
vaadin-dialog[has-footer]::part(content) {
    padding-bottom: 2px;
}

/* odebrání protivného výrazného obtažení focus dialogů */
vaadin-dialog::part(overlay) {
    outline: none !important;
}

vaadin-grid a {
    text-decoration: none;
    color: #045491;
}

vaadin-grid a:hover {
    text-decoration: underline;
}

vaadin-grid {
    font-size: 10pt;
}

vaadin-grid img {
    margin-bottom: -3px;
    margin-top: 3px;
}

img.thumbnail-200 {
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

/* Top and Bottom margin */
.top-margin {
    margin-top: 10px;
}

.bottom-margin {
    margin-bottom: 10px;
}

/* Breadcrumb */
#breadcrumb, #small-menu {
    background: #fdfaf2;
    padding-right: 3px;
    line-height: 20px;
    font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
    "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

#breadcrumb {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

#small-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    font-size: 14px;
}

#breadcrumb img, #breadcrumb a{
    margin-right: 10px;
}

#small-menu a {
    margin-right: 12px;
}

#breadcrumb a, #small-menu a {
    text-decoration: none;
}

#breadcrumb a:hover, #small-menu a:hover {
    text-decoration: underline;
}

/* Button div  */
.flex-div {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.button-link {
    font-size: 12pt;
    font-weight: 500;
    border: none;
}

/* Nadpisy */
h2, h3 {
    border-bottom: 1px solid;
    margin-bottom: 10px;
    border-color: #aaa;
    width: 100%;
}

h3 {
    margin-top: 10px;
}

h3:first-child {
    margin-top: 0;
}

h2 {
    font-size: 15pt;
}

/* Inline button */
.inline-button {
    cursor: pointer;
    font-family: var(--aura-font-family);
    font-size: var(--aura-font-size-m);
    color: #045491;
    width: fit-content;
    display: inline-block;
}

.inline-button:hover {
    text-decoration: underline;
}

vaadin-grid .inline-button {
    color: #045491;
}

/* Span */
span.label-ok, span.label-err {
    border-radius: 5px;
    margin: auto;
    padding: 3px 10px;
}

span.label-ok {
    border: 2px solid #42af0b;
    background-color: rgba(66, 175, 11, 0.25);
}

span.label-err {
    border: 2px solid #af130b;
    background-color: rgba(175, 11, 11, 0.25);
}

.error-label {
    text-align: center;
    font-size: 15pt;
    font-family: var(--aura-font-family);
    font-weight: 500;
}

/* monitor */
#center-content .monitor-content h2 {
    margin-bottom: 5px;
}

.token-field-item {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 6px 11px;
    background: #fdfdfd;
}