@import "header.css";
@import "layout.css";
@import "content.css";
@import "pg.css";
@import "tag-menu.css";

/* vaadin AURA theme fix -- z nějakého důvodu dělá 2px vertical scroll na dialogu */
vaadin-dialog[has-footer]::part(content) {
    padding-bottom: 2px;
}

/* odebrání protivného výrazného obtažení focus dialogů */
vaadin-dialog::part(overlay) {
    outline: none !important;
}

/* https://vaadin.com/docs/latest/styling/themes/aura/other */
/* https://vaadin.com/docs/latest/styling/themes/base */

html {
    --aura-app-background: #d8cda6;
    --vaadin-radius-m: 4px;
    --vaadin-grid-background: #f9f9f9;
    --vaadin-grid-border-color: #ddd;
}

vaadin-grid a {
    text-decoration: none;
    color: #045491;
}
vaadin-grid a:hover {
    text-decoration: underline;
}
vaadin-grid {
    font-size: 10pt;
}
vaadin-grid img {
    margin-bottom: -3px;
    margin-top: 3px;
}

/* Top and Bottom margin */
.top-margin {
    margin-top: 10px;
}
.bottom-margin {
    margin-bottom: 10px;
}

/* Breadcrumb */
#breadcrumb {
    background: #fdfaf2;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 3px;
    line-height: 20px;
    font-weight: bold;
    font-size: 12px;
    font-family: Trebuchet, "Trebuchet MS", Verdana, "Verdana CE", Arial,
    "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}
#breadcrumb img, #breadcrumb a {
    margin-right: 10px;
}
#breadcrumb a {
    text-decoration: none;
}
#breadcrumb a:hover {
    text-decoration: underline;
}

/* Button div  */
.button-div vaadin-button, .button-div vaadin-combo-box {
    margin: 10px 10px 0 0;
}

.button-link {
    font-size: 12pt;
    font-weight: 500;
    border: none;
}

/* Nadpisy */
h2, h3 {
    border-bottom: 1px solid;
    margin-bottom: 10px;
    border-color: #888;
}
h2 {
    font-size: 15pt;
}