#tag-menu {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tag-letter {
    font-weight: bold;
    margin: 4px 0px;
}

.tag-labels {
    padding: 0 0 0 15px;
}

.tag-labels a {
    display: inline-block;
    text-decoration: none;
    word-wrap: break-word;
    padding: 0 5px 2px 0;
}

.tag-labels a:hover {
    text-decoration: underline;
}